.tree-container {
  margin: 10px auto 10px auto;
  padding: 10px;
  border-radius: 1em;
  background-color: #efefef;
  min-height: 99vh;
  min-width: 95%;
  max-width: max-content;
  white-space: nowrap;
  font-family: monospace;
  overflow: auto;
}
