.tree-input {
  background-color: #efefef;
  margin-left: -19px;
  margin-top: 15px;
}
.tree-input-side {
  background-color: white;
  font-size: 11px;
  border: none;
}

.tree-button {
  font-size: 10px;
  opacity: 0.5;
}

.tree-button:hover,
.tree-button:focus {
  opacity: 1;
  cursor: pointer;
}

.tree ol {
  padding-left: 29px;
}

ol {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol ol > li {
  display: block;
}

ol ol > li:before {
  content: counters(item, ".") " ";
  margin-left: -20px;
}

li {
  margin-bottom: 16px;
}

ol ol {
  margin-top: 16px;
}
